.main{
    width: 100%;
    height: 100vh;
    background-color: #1E201E;
    background-image: url('/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: bottom left ;
    flex-direction: column;
}
.main1{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}
.main1 form{
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    
    padding: 5vh;
    font-size: 1.5rem; 
    color:white;;
    border-radius: 20px;
    border-left: 3px solid blue;
    border-right: 3px solid goldenrod;
    border-top: 3px solid red;
    border-bottom: 3px solid green;
}
form h3{
    margin: 2vh 0;
}
form input,select{
    padding: 1vh;
    font-size: 1.2rem;
    margin: 2vh 0;
    border-radius: 20px;
}
form button{
    padding: 1vh;
    border-radius: 20px;
    font-size: 1.5rem;
    margin: 2vh 0;
    cursor: pointer;
    background-color: blue;
    color: white;
}
button:hover{
    color:black;
    background-color: goldenrod;
}
.radio{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.home{
    width: 100%;
    min-height: 85vh;
    display: flex;
    background-color:#2b2a2a;
    background-image: url('/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.home1{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4vh;
}
.home1 h1{
    font-size: 5rem;
    margin-bottom: 3vh;
    -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 2px;     
  -webkit-text-stroke-color: white;    
                   
}
.home1 p{
  font-size: 1.3rem;
  color: silver;
}
.home1 button{
    width: 20%;
    padding: 2vh;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
    align-self: flex-start;
    margin-top: 4vh;
    border: 2px solid blue;
    cursor: pointer;
}
.home1 button:hover{
    background-color: goldenrod;
    color: black;
    border: 2px solid goldenrod;
}
.jobs{
    width: 100%;
    min-height: 100vh;
    background-color:  #060606;;
}
.jobs1{
    width: 90%;
    margin: auto;
    padding: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.skills{
    color: blue;
}
.grid{
    width: 55%;
 display: grid;
 align-items: center;
 justify-content: center;
 grid-template-columns: repeat(1,1fr);
 gap: 20px;
 height: 110vh;
 overflow-y:scroll ;
}
.items{
    width: 95%;
    /* border: 2px solid silver; */
    color: silver;
    padding: 4vh;
    font-size: 1.5rem;
    background-color: rgba(255, 255,255, 0.1);
    border-radius: 10px;
}
.details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.details1{
      width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items h3{
    color: white;
    margin: 4vh 0;
}
.items p{
    margin: 2vh 0;
}

.p2{
    width: 45%;
    border: 2px solid goldenrod;
    padding: 2vh;
    border-radius: 20px;
    text-align: center;
}
.p3{
    width: 45%;
    border: 2px solid green;
    padding: 2vh;
    border-radius: 20px;
    text-align: center;
}
.details button{
    width: 100%;
    padding: 1vh;
    border-radius: 20px;
    background-color: grey;
    font-size: 1.5rem;
    margin: 2vh 0;
    cursor: pointer;
    color: whitesmoke;
    border: 2px solid black;
    
}
.details button:hover{
    color:black;
    background-color: white;
}
.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn button{
     width: 30%;
    padding: 1vh;
    border-radius: 20px;
    background-color:blue;
    font-size: 1.5rem;
    margin: 2vh 0;
    cursor: pointer;
    color: whitesmoke;
    border: 2px solid black;
}
.btn button:hover{
    background-color: goldenrod;
    color: black;
}
.callback{
    width: 40%;
    display: flex;
    color: silver;
    font-size: 2rem;
}
.dash{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #1E201E;
    color: silver;
}
.dash h1{
    margin: 4vh 0;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}
.dash1{
    padding:  5vh 0;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}
.grid1{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.grid1{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

.item1{
    width: 100%;
    border: 1px solid #3b3939;
    padding: 3vh;
    border-radius: 20px;
    min-height: 37vh;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    
}
.item1 p{
    font-size: 1.2rem;
    margin: 2vh 0;
}
.info{
    margin: 4vh 0;
}
.dash h3{
    margin: 4vh 0;
    font-size: 2rem;
    color: goldenrod;
}
.info input{
    width: 100%;
    border: 2px solid silver;
    font-size: 1.2rem;
    padding: 2vh;
}
.status{
    color: goldenrod;
}
.post{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 7vh 0;
    background-color: #1E201E;
    color: silver;
    align-items: center;
    justify-content: center;
}
.post form{
    width: 50%;
    padding: 4vh ;
    display: flex;
    flex-direction: column;
    border: 2px solid #3b3939;
    border-radius: 10px;
}
.post h1{
    margin: 2vh 0;
    color: goldenrod;
    text-align: center;
}
.post input,textarea{
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
    border: 2px solid silver;
    margin: 2vh 0;
    padding: 2vh;
}
button{
    border: 2px solid #1E201E;
}
@media (max-width:1300px){
    .radio{
        width: 70%;
    }
}
@media (max-width:1200px){
    .main1 form{
        width: 60%;
    }
    .items{
        font-size: 1.3rem;
    }
    .grid{
        width: 60%;
    }
}
@media (max-width:1050px){
    .main1 form{
        width: 70%;
    }
    .jobs1{
        flex-direction: column;
    }
    .grid{
        width: 100%;
    }
    .items{
        width: 100%;
    }
    .grid1{
        grid-template-columns: repeat(1,1fr);
    }
    .post form{
        width: 70%;
    }
}
@media (max-width:900px){
    .home1 button{
        width: 30%;
    }
     .post form{
        width: 80%;
    }
}
@media (max-width:768px){
    .main1 form{
        width: 100%;
    }
    .main1 form{
        font-size: 1.2rem;
    }
    .home1 h1{
        font-size: 2rem;
    }
    .home1 p{
        font-size: 1.2rem;
    }
    .home1 button{
        width: 50%;
    }
    .home1{
        width: 90%;
    }
    
    .details1{
        width: 90%;
    }
    .dash h1{
        font-size: 2rem;
    }
    .dash h3,.dash h2{
        font-size: 1.5rem;
    }
    .radio{
        width: 95%;
    }
     .post form{
        width: 90%;
    }
     .post form input,.post form select,textarea{
        font-size: 1.2rem;
    }
}